.form-main {
    width: 100vw;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.form-container {
    width: 35vw;
    border: 0.2px solid rgba(0, 128, 128, 0.5);
    padding: 12vh 4em 3em 4em;
    border-radius: 5px;
    position: relative;
}

.form-header {
    width: 100%;
    display: flex;
    border-bottom:  0.2px solid rgba(0, 128, 128, 0.5);
    height: 9vh;
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 4em;
}

.form-header span {
    line-height: 9vh;
    letter-spacing: 5px;
    font-size: 1.4rem;
    font-weight: 500;
    color:rgb(0, 128, 128);
}

label span {
    color: red;
    font-size: 1.2rem;
    margin-right: 0.3em;
}

.form-navigation {
    font-weight: 700;
    letter-spacing: 2px;
    color: rgb(0, 128, 128);
    text-align: center;
}