.form-main {
  width: 100vw;
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-container {
  width: 35vw;
  border: 0.2px solid rgba(0, 128, 128, 0.5);
  padding: 12vh 4em 3em 4em;
  border-radius: 5px;
  position: relative;
}

.form-header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 0.2px solid rgba(0, 128, 128, 0.5);
  height: 9vh;
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 4em;
}

.form-header span {
  line-height: 9vh;
  letter-spacing: 5px;
  font-size: 1.4rem;
  font-weight: 500;
  color: teal;
}

label span {
  color: red;
  font-size: 1.2rem;
  margin-right: 0.3em;
}

.form-navigation {
  font-weight: 700;
  letter-spacing: 2px;
  color: teal;
  text-align: center;
}
/*# sourceMappingURL=forms.css.map */