body {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  display: none;
}

.navbar {
  width: 90vw;
  margin-left: 5vw;
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #ddd;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.navbar span {
  font-size: 1rem;
  font-weight: bold;
  color: gray;
}

.table {
  width: 90vw;
  margin-left: 5vw;
}

.datepicker {
  color: black;
}

.ant-table-thead > tr > th {
  background-color: rgba(0, 128, 128, 0.5);
  color: rgba(0, 0, 0, 0.9);
}

.ant-picker {
  border: 1px solid gray;
}

div.ant-picker.ant-picker-range.datepicker {
  color: black;
}

button.ant-btn.ant-btn-primary.ant-btn-block {
  background-color: teal;
  border: 1px solid teal;
  margin: 4vh 0;
  letter-spacing: 3px;
  font-weight: 700;
  font-size: 1rem;
  height: 40px;
}

button.ant-btn.ant-btn-primary.ant-btn-block:hover {
  background-color: rgba(0, 128, 128, 0.5);
  border: 1px solid rgba(0, 128, 128, 0.5);
}

div.ant-table-wrapper.table {
  border: 0.1px solid rgba(0, 128, 128, 0.3);
}

tbody.ant-table-tbody tr.ant-table-row.ant-table-row-level-0:nth-child(even) {
  background-color: #ddd;
}

div.ant-picker.ant-picker-range.datepicker svg {
  color: gray;
}

div.ant-picker.ant-picker-range.datepicker input::-webkit-input-placeholder {
  color: gray;
}

div.ant-picker.ant-picker-range.datepicker input:-ms-input-placeholder {
  color: gray;
}

div.ant-picker.ant-picker-range.datepicker input::-ms-input-placeholder {
  color: gray;
}

div.ant-picker.ant-picker-range.datepicker input::placeholder {
  color: gray;
}

button.ant-btn.display-all-btn {
  border: 1px solid gray;
  color: gray;
  margin-left: 1em;
}
/*# sourceMappingURL=main.css.map */