body {
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    display: none;
}

// ============  NAVBAR  =============

.navbar {
    width: 90vw;
    margin-left: 5vw;
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;
}

.navbar span {
    font-size: 1rem;
    font-weight: bold;
    color: gray;
}

// ============  TABLE  =============

.table {
    width: 90vw;
    margin-left: 5vw;
}

.datepicker {
    color: black;
}

// ======  ANTD OVERWRITE  ==========
.ant-table-thead > tr > th {
    background-color: rgba(0, 128, 128, 0.5);
    color: rgba(0, 0, 0, 0.9);
}

.ant-picker {
    border: 1px solid gray;
}

div.ant-picker.ant-picker-range.datepicker {
    color: black;
}

button.ant-btn.ant-btn-primary.ant-btn-block {
    background-color: rgb(0, 128, 128);
    border: 1px solid rgb(0, 128, 128);
    margin: 4vh 0;
    letter-spacing: 3px;
    font-weight: 700;
    font-size: 1rem;
    height: 40px;
}

button.ant-btn.ant-btn-primary.ant-btn-block:hover {
    background-color: rgba(0, 128, 128, 0.5);
    border: 1px solid rgba(0, 128, 128, 0.5);
}

div.ant-table-wrapper.table {
    border: 0.1px solid rgba(0, 128, 128, 0.3);
}

tbody.ant-table-tbody tr.ant-table-row.ant-table-row-level-0:nth-child(even) {
    background-color: #ddd;
}

div.ant-picker.ant-picker-range.datepicker svg {
    color: gray;
}

div.ant-picker.ant-picker-range.datepicker input::placeholder {
    color: gray;
}

button.ant-btn.display-all-btn {
    border: 1px solid gray;
    color: gray;
    margin-left: 1em;
}
