.records-container {
    width: 100vw;
    min-height: 90vh;
}

.records-filters-container {
    width: 100vw;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
    box-sizing: border-box;
}

.length-counter {
    color: gray;
    font-size: 1.5rem;
}

.records-footer {
    width: 100vw;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 5vw;
    box-sizing: border-box;
}

.records-footer span {
    box-sizing: border-box;
}