.records-container {
  width: 100vw;
  min-height: 90vh;
}

.records-filters-container {
  width: 100vw;
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.length-counter {
  color: gray;
  font-size: 1.5rem;
}

.records-footer {
  width: 100vw;
  height: 15vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 0 5vw;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.records-footer span {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
/*# sourceMappingURL=records.css.map */